#add-new-entry-form {
  display: flex;
  flex-direction: column;
}

#step-title {
  margin-bottom: 15px;
}

#link-selector {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30px auto;
  grid-template-areas: 
  'bangumi-tv-selector-label douban-selector-label'
  'bangumi-tv-selector douban-selector';
}

#bangumi-tv-selector-label {
  grid-area: bangumi-tv-selector-label;
}

#douban-selector-label {
  grid-area: douban-selector-label;
}

#bangumi-tv-selector {
  grid-area: bangumi-tv-selector;
}

#douban-selector {
  grid-area: douban-selector;
}

#genre-selector {
  display: flex;
  flex-direction: row;
}

#nav-buttons {
  align-self: flex-end;
}

#nav-buttons button {
  margin-right: 10px;
}
