#table-wrapper {
  position: fixed;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 90%;
  overflow: scroll;
  opacity: 0.8;
  text-align: center;
  margin-bottom: 1rem;
}

.anime-name {
  width: 15%;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-group-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.button-group button {
  opacity: 1;
  margin: 0 10px 10px 10px;
}