.dropdown-header {
  padding: 0.1rem 1rem !important;
  margin-bottom: 0 !important;
  color: #000000 !important;
  white-space: nowrap !important;
  background-color: #fe8a96 !important;
  border-color: #000000 !important;
}