.filter-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.close-button {
  margin-left: -30px;
  height: 30px;
  width: 30px;
  border: 0px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
}

input[type=text] {
  width: 100px;
  height: 30px;
  padding-right: 30px;
  border: 1px solid #fe8a96;
  border-radius: 4px;
}