body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  background-image: url("img/拜年祭2020.jpg");
  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-attachment: fixed;
  background-position: center center;
  background-size: cover; 
}